
.container {
    width: 200px;
    height: 500px;
    background-color: bisque;
    margin: 80px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container:hover .box{
    transform: scale(1.2);
}
.box {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.box1 {
    background-color: burlywood;
    transition: transform 500ms;
}

.box2 {
    background-color: thistle;
    transition: transform 1s;
}

.box3 {
    background-color: yellowgreen;
    transition: transform 1.5s;
}