* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
    width: 100%;
}
.phone {
    background: rgb(41, 41, 41);
    border: 8px solid black;
    border-radius: 40px;
    box-shadow: 0 19px 38px rgba(0,0,0, .30), 0 15px 22px rgba(0,0,0, .22);
    height: 600px;
    width: 300px;
    position: relative;
}
.layer-01 {
    position: absolute;
    z-index: 1;
    background: ;
    bottom: ;
    width: 100px;
    height: 100px;
    right: ;
}
.layer-02 {
    position: absolute;
    z-index: 2;
    background: ;
    bottom: ;
    width: 100px;
    height: 100px;
    right: ;
}
.layer-03 {
    position: absolute;
    z-index: 3;
    background: ;
    bottom: ;
    width: 100px;
    height: 100px;
    right: ;
}
.layer-04 {
    position: absolute;
    z-index: 4;
    background: ;
    bottom: ;
    width: 100px;
    height: 100px;
    right: ;
}
.layer-05 {
    position: absolute;
    z-index: 5;
    background: ;
    bottom: ;
    width: 100px;
    height: 100px;
    right: ;
}
.layer-06 {
    position: absolute;
    z-index: 6;
    background: ;
    bottom: ;
    width: 100px;
    height: 100px;
    right: ;
}
.layer-07 {
    position: absolute;
    z-index: 7;
    background: ;
    bottom: ;
    width: 100px;
    height: 100px;
    right: ;
}
.layer-08 {
    position: absolute;
    z-index: 8;
    background: ;
    bottom: ;
    width: 100px;
    height: 100px;
    right: ;
}
.layer-09 {
    position: absolute;
    z-index: 9;
    background: ;
    bottom: ;
    width: 100px;
    height: 100px;
    right: ;
}
.layer-10 {
    position: absolute;
    z-index: 10;
    background: ;
    bottom: ;
    width: 100px;
    height: 100px;
    right: ;
}